In [1]:
import pandas as pd
import numpy as np
import lightgbm as lgb

import feather

In [2]:
version = "08"

In [3]:
train = feather.read_dataframe(f'../data/processed/train_processed_{version}.feather')
test = feather.read_dataframe(f'../data/processed/test_processed_{version}.feather')

In [9]:
concat_data = pd.concat([train,test], axis=0)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [10]:
y = concat_data["istrain"]
concat_data = concat_data.drop(["isFraud", "TransactionID", "istrain", "card_no"], axis=1)

In [12]:
y = y.astype(int)

In [13]:
params = {'num_leaves': 64,
         'min_data_in_leaf': 100, 
         'objective':'binary',
         'max_depth': -1,
         'learning_rate': 0.1,
         "boosting": "gbdt",
         "feature_fraction": 0.8,
         "bagging_freq": 1,
         "bagging_fraction": 0.8 ,
         "bagging_seed": 0,
         "metric": 'auc',
         "lambda_l1": 0.1,
         "random_state": 0,
         "verbosity": -1}

In [14]:
verbose=200
early_stopping_rounds=200
num_rounds=1000
sampling_strategy=0.2

In [15]:
trn_data = lgb.Dataset(
    concat_data,
    label= y
)
model = lgb.train(
    params=params,
    train_set=trn_data,
    num_boost_round=1000,
    verbose_eval=verbose,
)

In [16]:
feature_importance = pd.DataFrame()
feature_importance["feature"] = concat_data.columns
feature_importance["importance"] = model.feature_importance()

In [17]:
feature_importance.sort_values(by=["importance"], ascending=False)

                                        feature  importance
409                                       card1        1405
4                                           C13        1316
406                                       addr1        1276
469                             count_enc_addr1        1266
473                             count_enc_card2        1130
452                                       card2        1113
16                                          D11        1021
449                    card1_TransactionAmt_std        1020
448                   card1_TransactionAmt_mean        1012
414                               card1_D10_std        1000
442                                card1_D4_std         995
13                                           C9         987
435                                card1_D2_std         914
421                               card1_D15_std         871
441                               card1_D4_mean         829
2                                           C11         827
434                               card1_D2_mean         814
427                               card1_D1_mean         812
413                              card1_D10_mean         807
420                              card1_D15_mean         786
478                             count_enc_dist1         745
15                                          D10         705
428                                card1_D1_std         702
20                                          D15         691
541                                       id_31         678
0                                            C1         677
422                     card1_D15_subtract_mean         642
415                     card1_D10_subtract_mean         629
6                                            C2         607
10                                           C6         587
..                                          ...         ...
398                ['ProductCD', 'card5']_count           0
405                              ['hour']_count           0
404                             ['card5']_count           0
403                             ['card3']_count           0
402                             ['card2']_count           0
401                             ['card1']_count           0
74                                         V117           0
70                                         V113           0
209                                        V239           0
149                                        V185           0
211                                        V240           0
497                             count_enc_id_29           0
495                             count_enc_id_27           0
309                                        V329           0
490                             count_enc_id_22           0
312                                        V331           0
315                                        V334           0
212                                        V241           0
318                                        V337           0
161                                        V196           0
214                                        V243           0
215                                        V244           0
400  ['card1', 'card2', 'card3', 'card5']_count           0
472                             count_enc_card1           0
156                                        V191           0
220                                        V249           0
224                                        V252           0
153                                        V189           0
68                                         V111           0
187                                        V219           0

[549 rows x 2 columns]