In [1]:
import numpy as np
import pandas as pd

In [2]:
train_identity = pd.read_csv("../data/train_identity.csv")
train_transaction = pd.read_csv("../data/train_transaction.csv")

In [4]:
train_identity.shape

(144233, 41)

In [5]:
train_transaction.shape

(590540, 394)

In [6]:
sub = pd.read_csv("../data/sample_submission.csv")

In [10]:
sub.head()

   TransactionID  isFraud
0        3663549      0.5
1        3663550      0.5
2        3663551      0.5
3        3663552      0.5
4        3663553      0.5

In [8]:
sub.shape

(506691, 2)

In [9]:
train_identity.head().T

,0,1,2,3,4
TransactionID,2987004,2987008,2987010,2987011,2987016
id_01,0,-5,-5,-5,0
id_02,70787,98945,191631,221832,7460
id_03,NaN,NaN,0,NaN,0
id_04,NaN,NaN,0,NaN,0
id_05,NaN,0,0,0,1
id_06,NaN,-5,0,-6,0
id_07,NaN,NaN,NaN,NaN,NaN
id_08,NaN,NaN,NaN,NaN,NaN
id_09,NaN,NaN,0,NaN,0
id_10,NaN,NaN,0,NaN,0
id_11,100,100,100,100,100
id_12,NotFound,NotFound,NotFound,NotFound,NotFound
id_13,NaN,49,52,52,NaN
id_14,-480,-300,NaN,NaN,-300
id_15,New,New,Found,New,Found
id_16,NotFound,NotFound,Found,NotFound,Found
id_17,166,166,121,225,166
id_18,NaN,NaN,NaN,NaN,15
id_19,542,621,410,176,529
id_20,144,500,142,507,575
id_21,NaN,NaN,NaN,NaN,NaN
id_22,NaN,NaN,NaN,NaN,NaN
id_23,NaN,NaN,NaN,NaN,NaN
id_24,NaN,NaN,NaN,NaN,NaN
id_25,NaN,NaN,NaN,NaN,NaN
id_26,NaN,NaN,NaN,NaN,NaN
id_27,NaN,NaN,NaN,NaN,NaN
id_28,New,New,Found,New,Found
id_29,NotFound,NotFound,Found,NotFound,Found
id_30,Android 7.0,iOS 11.1.2,NaN,NaN,Mac OS X 10_11_6
id_31,samsung browser 6.2,mobile safari 11.0,chrome 62.0,chrome 62.0,chrome 62.0
id_32,32,32,NaN,NaN,24
id_33,2220x1080,1334x750,NaN,NaN,1280x800
id_34,match_status:2,match_status:1,NaN,NaN,match_status:2
id_35,T,T,F,F,T
id_36,F,F,F,F,F
id_37,T,F,T,T,T
id_38,T,T,T,T,T
DeviceType,mobile,mobile,desktop,desktop,desktop
DeviceInfo,SAMSUNG SM-G892A Build/NRD90M,iOS Device,Windows,NaN,MacOS

In [11]:
train_transaction.head().T

                       0           1            2           3           4
TransactionID    2987000     2987001      2987002     2987003     2987004
isFraud                0           0            0           0           0
TransactionDT      86400       86401        86469       86499       86506
TransactionAmt      68.5          29           59          50          50
ProductCD              W           W            W           W           H
card1              13926        2755         4663       18132        4497
card2                NaN         404          490         567         514
card3                150         150          150         150         150
card4           discover  mastercard         visa  mastercard  mastercard
card5                142         102          166         117         102
card6             credit      credit        debit       debit      credit
addr1                315         325          330         476         420
addr2                 87          87           87          87          87
dist1                 19         NaN          287         NaN         NaN
dist2                NaN         NaN          NaN         NaN         NaN
P_emaildomain        NaN   gmail.com  outlook.com   yahoo.com   gmail.com
R_emaildomain        NaN         NaN          NaN         NaN         NaN
C1                     1           1            1           2           1
C2                     1           1            1           5           1
C3                     0           0            0           0           0
C4                     0           0            0           0           0
C5                     0           0            0           0           0
C6                     1           1            1           4           1
C7                     0           0            0           0           0
C8                     0           0            0           0           1
C9                     1           0            1           1           0
C10                    0           0            0           0           1
C11                    2           1            1           1           1
C12                    0           0            0           0           0
C13                    1           1            1          25           1
...                  ...         ...          ...         ...         ...
V310                   0           0            0         354           0
V311                   0           0            0           0           0
V312                   0           0            0         135           0
V313                   0           0            0           0           0
V314                   0           0            0           0           0
V315                   0           0            0           0           0
V316                   0           0            0          50           0
V317                 117           0            0        1404           0
V318                   0           0            0         790           0
V319                   0           0            0           0           0
V320                   0           0            0           0           0
V321                   0           0            0           0           0
V322                 NaN         NaN          NaN         NaN           0
V323                 NaN         NaN          NaN         NaN           0
V324                 NaN         NaN          NaN         NaN           0
V325                 NaN         NaN          NaN         NaN           0
V326                 NaN         NaN          NaN         NaN           0
V327                 NaN         NaN          NaN         NaN           0
V328                 NaN         NaN          NaN         NaN           0
V329                 NaN         NaN          NaN         NaN           0
V330                 NaN         NaN          NaN         NaN           0
V331                 NaN         NaN          NaN         NaN           0
V332                 NaN         NaN          NaN         NaN           0
V333                 NaN         NaN          NaN         NaN           0
V334                 NaN         NaN          NaN         NaN           0
V335                 NaN         NaN          NaN         NaN           0
V336                 NaN         NaN          NaN         NaN           0
V337                 NaN         NaN          NaN         NaN           0
V338                 NaN         NaN          NaN         NaN           0
V339                 NaN         NaN          NaN         NaN           0

[394 rows x 5 columns]

### transaction

* Product code

In [12]:
train_transaction["ProductCD"].unique()

array(['W', 'H', 'C', 'S', 'R'], dtype=object)

* card1~card6
    * cardtype, card category issue bank, country etc...

In [13]:
train_transaction['card1'].nunique()

13553

In [14]:
train_transaction['card2'].nunique()

500

In [15]:
train_transaction['card3'].nunique()

114

In [17]:
train_transaction['card3'].unique()

array([150., 117., 185., 143., 144., 163., 146., 191., 162., 119., 147.,
       100., 135., 137., 138., 102., 213., 106., 214., 148., 210., 203.,
       194., 141., 225.,  nan, 188., 193., 208., 133., 223., 134., 153.,
       131., 200., 149., 116., 222., 220., 197., 129., 206., 195., 204.,
       127., 142., 111., 159., 118., 229., 217., 212., 227., 166., 189.,
       120., 171., 190., 105., 130., 170., 180., 177., 132., 109., 198.,
       121., 183., 215., 156., 207., 186., 167., 152., 199., 219., 202.,
       126., 182., 123., 107., 221., 124., 231., 157., 136., 128., 168.,
       101., 108., 125., 211., 164., 160., 161., 179., 155., 169., 205.,
       209., 226., 174., 176., 181., 224., 122., 201., 175., 139., 172.,
       114., 228., 184., 151., 173.])

In [18]:
train_transaction['card4'].unique()

array(['discover', 'mastercard', 'visa', 'american express', nan],
      dtype=object)

In [19]:
train_transaction['card5'].nunique()

119

In [20]:
train_transaction['card5'].unique()

array([142., 102., 166., 117., 226., 224., 134., 219., 137., 195., 138.,
       100., 147., 162., 202., 118., 150., 183., 171., 236., 197., 133.,
       223., 149., 228., 229.,  nan, 198., 182., 126., 185., 190., 131.,
       144., 141., 215., 203., 237., 132., 143., 146., 140., 129., 199.,
       194., 213., 111., 169., 177., 173., 156., 119., 135., 107., 232.,
       188., 159., 127., 148., 139., 104., 210., 180., 207., 204., 212.,
       106., 152., 222., 187., 200., 214., 189., 181., 206., 225., 157.,
       121., 217., 184., 167., 113., 136., 120., 201., 211., 122., 164.,
       123., 145., 172., 114., 231., 105., 221., 234., 130., 109., 196.,
       101., 158., 230., 128., 191., 165., 115., 233., 216., 116., 178.,
       125., 163., 205., 112., 168., 209., 235., 151., 175., 160.])

In [22]:
train_transaction['card6'].unique()

array(['credit', 'debit', nan, 'debit or credit', 'charge card'],
      dtype=object)

* TransactionAMT
    * transaction payment amount (USD)

* addr 
    * アドレス

In [23]:
train_transaction['addr1'].nunique()

332

In [24]:
train_transaction['addr2'].nunique()

74

* dist
    * 距離
    * nanが多く、どっちも埋まることはない？

* P_emaildomain
    * 購入者のメールドメイン
* R_emaildomain
    * 受信者のメールドメイン

In [26]:
train_transaction['P_emaildomain'].unique()

array([nan, 'gmail.com', 'outlook.com', 'yahoo.com', 'mail.com',
       'anonymous.com', 'hotmail.com', 'verizon.net', 'aol.com', 'me.com',
       'comcast.net', 'optonline.net', 'cox.net', 'charter.net',
       'rocketmail.com', 'prodigy.net.mx', 'embarqmail.com', 'icloud.com',
       'live.com.mx', 'gmail', 'live.com', 'att.net', 'juno.com',
       'ymail.com', 'sbcglobal.net', 'bellsouth.net', 'msn.com', 'q.com',
       'yahoo.com.mx', 'centurylink.net', 'servicios-ta.com',
       'earthlink.net', 'hotmail.es', 'cfl.rr.com', 'roadrunner.com',
       'netzero.net', 'gmx.de', 'suddenlink.net', 'frontiernet.net',
       'windstream.net', 'frontier.com', 'outlook.es', 'mac.com',
       'netzero.com', 'aim.com', 'web.de', 'twc.com', 'cableone.net',
       'yahoo.fr', 'yahoo.de', 'yahoo.es', 'sc.rr.com', 'ptd.net',
       'live.fr', 'yahoo.co.uk', 'hotmail.fr', 'hotmail.de',
       'hotmail.co.uk', 'protonmail.com', 'yahoo.co.jp'], dtype=object)

In [27]:
train_transaction['R_emaildomain'].unique()

array([nan, 'gmail.com', 'hotmail.com', 'outlook.com', 'anonymous.com',
       'charter.net', 'prodigy.net.mx', 'comcast.net', 'live.com.mx',
       'icloud.com', 'yahoo.com', 'aol.com', 'juno.com', 'att.net',
       'verizon.net', 'yahoo.com.mx', 'bellsouth.net', 'servicios-ta.com',
       'ymail.com', 'hotmail.es', 'msn.com', 'optonline.net', 'live.com',
       'gmx.de', 'aim.com', 'mail.com', 'me.com', 'outlook.es', 'cox.net',
       'earthlink.net', 'embarqmail.com', 'web.de', 'sbcglobal.net',
       'scranton.edu', 'mac.com', 'twc.com', 'roadrunner.com', 'yahoo.fr',
       'yahoo.de', 'yahoo.es', 'frontiernet.net', 'gmail', 'live.fr',
       'q.com', 'yahoo.co.uk', 'windstream.net', 'suddenlink.net',
       'hotmail.fr', 'ptd.net', 'hotmail.de', 'frontier.com',
       'cfl.rr.com', 'hotmail.co.uk', 'netzero.com', 'netzero.net',
       'yahoo.co.jp', 'rocketmail.com', 'centurylink.net',
       'protonmail.com', 'cableone.net', 'sc.rr.com'], dtype=object)

* C1-C14: counting, such as how many addresses are found to be associated with the payment card, etc. The actual meaning is masked.
* D1-D15: timedelta, such as days between previous transaction, etc.
* M1-M9: match, such as names on card and address, etc.
* Vxxx: Vesta engineered rich features, including ranking, counting, and other entity relations.

### train_identity

In [28]:
train_identity['id_15'].unique()

array(['New', 'Found', nan, 'Unknown'], dtype=object)

In [29]:
train_identity['id_16'].unique()

array(['NotFound', 'Found', nan], dtype=object)

In [30]:
train_identity['id_23'].unique()

array([nan, 'IP_PROXY:TRANSPARENT', 'IP_PROXY:ANONYMOUS',
       'IP_PROXY:HIDDEN'], dtype=object)

In [42]:
device_type = train_identity['id_30'].unique().astype(str)

* windows
    * 10
    * 7
    * 8.1
    * XP
    * vista
    * 8
    * windows
* Android
    * 7.0
    * Android
    * 5.1.1
    * 7.1.1
    * 6.0
    * 8.0.0
    * 6.0.1
    * 5.0.2
    * 4.4.2
    * 5.0
    * 7.1.2
    * 8.1.0
* Linux
* iOS
    *
* Mac OS

In [43]:
device_type.sort()

In [44]:
device_type

array(['Android', 'Android 4.4.2', 'Android 5.0', 'Android 5.0.2',
       'Android 5.1.1', 'Android 6.0', 'Android 6.0.1', 'Android 7.0',
       'Android 7.1.1', 'Android 7.1.2', 'Android 8.0.0', 'Android 8.1.0',
       'Linux', 'Mac', 'Mac OS X 10.10', 'Mac OS X 10.11',
       'Mac OS X 10.12', 'Mac OS X 10.13', 'Mac OS X 10.6',
       'Mac OS X 10.9', 'Mac OS X 10_10_5', 'Mac OS X 10_11_3',
       'Mac OS X 10_11_4', 'Mac OS X 10_11_5', 'Mac OS X 10_11_6',
       'Mac OS X 10_12', 'Mac OS X 10_12_1', 'Mac OS X 10_12_2',
       'Mac OS X 10_12_3', 'Mac OS X 10_12_4', 'Mac OS X 10_12_5',
       'Mac OS X 10_12_6', 'Mac OS X 10_13_1', 'Mac OS X 10_13_2',
       'Mac OS X 10_13_3', 'Mac OS X 10_13_4', 'Mac OS X 10_13_5',
       'Mac OS X 10_6_8', 'Mac OS X 10_7_5', 'Mac OS X 10_8_5',
       'Mac OS X 10_9_5', 'Windows', 'Windows 10', 'Windows 7',
       'Windows 8', 'Windows 8.1', 'Windows Vista', 'Windows XP', 'func',
       'iOS', 'iOS 10.0.2', 'iOS 10.1.1', 'iOS 10.2.0', 'iOS 10.2.1',
       'iOS 10.3.1', 'iOS 10.3.2', 'iOS 10.3.3', 'iOS 11.0.0',
       'iOS 11.0.1', 'iOS 11.0.2', 'iOS 11.0.3', 'iOS 11.1.0',
       'iOS 11.1.1', 'iOS 11.1.2', 'iOS 11.2.0', 'iOS 11.2.1',
       'iOS 11.2.2', 'iOS 11.2.5', 'iOS 11.2.6', 'iOS 11.3.0',
       'iOS 11.3.1', 'iOS 11.4.0', 'iOS 11.4.1', 'iOS 9.3.5', 'nan',
       'other'], dtype='<U16')

In [46]:
browser_type = train_identity['id_31'].unique().astype(str)

In [48]:
browser_type.sort()

In [49]:
browser_type

array(['BLU/Dash', 'Cherry', 'Generic/Android', 'Generic/Android 7.0',
       'Inco/Minion', 'LG/K-200', 'Lanix/Ilium', 'M4Tel/M4',
       'Microsoft/Windows', 'Mozilla/Firefox', 'Nokia/Lumia',
       'Samsung/SCH', 'Samsung/SM-G531H', 'Samsung/SM-G532M', 'ZTE/Blade',
       'android', 'android browser 4.0', 'android webview 4.0', 'aol',
       'chrome', 'chrome 43.0 for android', 'chrome 46.0 for android',
       'chrome 49.0', 'chrome 49.0 for android',
       'chrome 50.0 for android', 'chrome 51.0',
       'chrome 51.0 for android', 'chrome 52.0 for android',
       'chrome 53.0 for android', 'chrome 54.0 for android',
       'chrome 55.0', 'chrome 55.0 for android', 'chrome 56.0',
       'chrome 56.0 for android', 'chrome 57.0',
       'chrome 57.0 for android', 'chrome 58.0',
       'chrome 58.0 for android', 'chrome 59.0',
       'chrome 59.0 for android', 'chrome 60.0',
       'chrome 60.0 for android', 'chrome 61.0',
       'chrome 61.0 for android', 'chrome 62.0',
       'chrome 62.0 for android', 'chrome 62.0 for ios', 'chrome 63.0',
       'chrome 63.0 for android', 'chrome 63.0 for ios', 'chrome 64.0',
       'chrome 64.0 for android', 'chrome 64.0 for ios', 'chrome 65.0',
       'chrome 65.0 for android', 'chrome 65.0 for ios', 'chrome 66.0',
       'chrome 66.0 for android', 'chrome 66.0 for ios', 'chrome 67.0',
       'chrome 67.0 for android', 'chrome 69.0', 'chrome generic',
       'chrome generic for android', 'chromium', 'comodo', 'cyberfox',
       'edge', 'edge 13.0', 'edge 14.0', 'edge 15.0', 'edge 16.0',
       'edge 17.0', 'facebook', 'firefox', 'firefox 47.0', 'firefox 48.0',
       'firefox 52.0', 'firefox 55.0', 'firefox 56.0', 'firefox 57.0',
       'firefox 58.0', 'firefox 59.0', 'firefox 60.0', 'firefox generic',
       'firefox mobile 61.0', 'google', 'google search application 48.0',
       'google search application 49.0', 'icedragon', 'ie',
       'ie 11.0 for desktop', 'ie 11.0 for tablet', 'iron', 'line',
       'maxthon', 'mobile', 'mobile safari 10.0', 'mobile safari 11.0',
       'mobile safari 8.0', 'mobile safari 9.0', 'mobile safari generic',
       'mobile safari uiwebview', 'nan', 'opera', 'opera 49.0',
       'opera 51.0', 'opera 52.0', 'opera 53.0', 'opera generic', 'other',
       'palemoon', 'puffin', 'safari', 'safari 10.0', 'safari 11.0',
       'safari 9.0', 'safari generic', 'samsung', 'samsung browser 3.3',
       'samsung browser 4.0', 'samsung browser 4.2',
       'samsung browser 5.2', 'samsung browser 5.4',
       'samsung browser 6.2', 'samsung browser 6.4',
       'samsung browser 7.0', 'samsung browser generic', 'seamonkey',
       'silk', 'waterfox'], dtype='<U30')

* id_33
    * 解像度
* id_34
    * match_status

In [50]:
train_identity['id_34'].unique()

array(['match_status:2', 'match_status:1', nan, 'match_status:0',
       'match_status:-1'], dtype=object)

In [53]:
train_identity['DeviceType'].unique()

array(['mobile', 'desktop', nan], dtype=object)

In [54]:
train_identity['DeviceInfo'].unique()

array(['SAMSUNG SM-G892A Build/NRD90M', 'iOS Device', 'Windows', ...,
       'LDN-LX3 Build/HUAWEILDN-LX3', 'Z955A', 'LG-E975'], dtype=object)